@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}
main {
    display: inline-block; /* for image width to be the same width as the screen */
    margin-top: 2%;
    padding: 15px;
    position: relative; /* for the elements with position: absolute respect the place inside of main tag */
}

.pokedex {
      width: 100%;
      max-width: 425px;
}

.pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%); /* refers to width of the image */
    height: 18%;
}